.anounce {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url("../../assets/fundo.jpg.webp");
  background-size: cover;
  background-position: center;
  color: #c04b63;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anounce-text {
  text-align: center;
  width: 800px;
}

.anounce-text h1 {
  font-size: 98px;
  font-weight: 600;
}

.anounce-text p {
  font-size: 25px;
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

/* -----media query----- */

@media (max-width: 820px) {
  .anounce-text h1 {
    font-size: 85px;
    font-weight: 300;
    max-width: 800px;
    margin: auto;
  }

  .anounce-text p {
    font-size: 26px;
    margin: 15px auto 30px;
  }
}
