nav {
  background: linear-gradient(to top, #c04b63, #ffadc1);
  width: 100%;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: 0.4s;
}

.logo {
  width: 150px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 25px;
  font-size: 22px;
  color: #c04b63;
  transition: 0.4s;
  font-weight: 100;
  text-shadow: 1px 1px 10px #ffffff;
}

nav li:hover {
  color: #98001e;
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 2px 2px 4px #c04b63;
}

.dark-nav {
  background: transparent;
  transition: 0.5s;
}

.menu-icon {
  display: none;
}

/* -----media query----- */

@media (max-width: 1095px) {
  .logo {
    width: 140px;
  }

  nav ul li {
    margin: 10px 15px;
  }
}

@media (max-width: 965px) {
  nav {
    padding: 15px 0;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: linear-gradient(to top, #c04b63, #ffadc1);
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px 30px;
  }

  .menu-icon {
    display: block;
    width: 60px;
    cursor: pointer;
  }
}

.hide-mobile-menu {
  right: -200px;
}
